@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto";
}

.post-heading {
    margin: 25px auto;
    font-size: 64px;
    font-family: typewriter-bold;
}

.post-date {
    font-size: 18px;
    font-family: typewriter-bold;
    margin-top: 10px;
    margin-bottom: 25px;
}

.post-link {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.post-div {
    background-color: white;
    margin: 5px;
    height: 100px;
    border: 2px solid black;
}

.post-content {
    margin: 0 auto;
    background-color: #fff;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.project {
  margin-top: 1em;
  background-color: #ddd;
  border: 2px solid #aaa;
  padding: 1em;
}
